.git
.next
.pnpm-store
node_modules
outputs
private
tmp
tools/spreadsheet-runtime/node_modules

.env
.env.*
!.env.example
!.env.docker.example

*.log
*.tsbuildinfo
Dockerfile*
compose*.yml
docker-compose*.yml
Exisel -  SMKN 69 JAKARTA
